<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="headeritems">
                <a href="http://localhost:8000/"><img src="/public/assets/logo.png" height="40px"></a>
                <div class="cati">
                    <a href="http://localhost:8000/categories">Categories</a>
                    <a href="http://localhost:8000/items">Items</a>
                </div>
            </div>
        </div>
        <div class="edit">
            <h3>Update Item</h3>
            <form action="http://localhost:8000/components/edit/<%=identifier%>" class="formblock" method="post">
                <input value='<%=item.part%>' type="text" name="part" id="" placeholder="Name">
                <input type="text" name="stock" id="" placeholder="Quantity" value='<%=item.stock%>'>
                <input type="text" name="price" id="" placeholder="Price" value='<%=item.price%>'>
                <input type="text" name="image" placeholder="Image URL" value='<%=item.image%>'>
                <button type="submit" class="homeb">Update</button>
            </form>
        </div>
    </div class="main">
</body>
</html>